@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

:root {
  --dark-color: #2c2d31;
  --light-color: #fff;
  --highlight-color: #ffe4b5;
  --font-size: 18px;
  --font-family: "Montserrat", sans-serif;
  --completed-color: #ffe4b5;
  --pending-color: #3f3f42;
  --mismatch-color: rgb(142, 35, 35);
  --underline-color: #62626b;
}

html,
body {
  margin: 0px 0px 0px 0px;
  background-color: var(--dark-color);
  color: var(--light-color);
}

html,
select,
input,
textarea,
button {
  font-family: var(--font-family);
  font-size: var(--font-size);
  outline: none;
}

.header {
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  position: fixed;
  background-color: var(--highlight-color);
  border-bottom: 1px solid rgb(200, 200, 200);
}

.header .title {
  font-size: 30px;
  font-weight: 700;
  margin-top: 5px;
  text-align: center;
  color: var(--dark-color);
}

.container {
  margin-top: 70px;
}

.select {
  background-color: var(--dark-color);
  color: var(--light-color);
  padding: 10px;
  margin: 10px;
  border: 2px solid var(--light-color);
  border-radius: 10px;
}

.button {
  background-color: var(--highlight-color);
  color: var(--dark-color);
  padding: 10px 30px 10px 30px;
  margin: 10px;
  border: 1px solid var(--highlight-color);
  border-radius: 50px;
  font-weight: 700;
}

.top-options {
  display: flex;
}

.top-options .select,
.top-options .button,
.top-options p {
  flex: 1;
}

.top-options p {
  text-align: center;
  line-height: 40px;
  color: var(--highlight-color);
  font-weight: 700;
}

.sentence {
  padding: 0px 50px 0px 50px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 2px;
  color: rgb(220, 220, 200);
  line-height: 1.5em;
  height: 4.5em;
  overflow: hidden;
  overflow-y: scroll;
}

.pending-characters {
  color: var(--pending-color);
}

.completed-characters {
  color: var(--completed-color);
}

.current-character {
  text-decoration: underline;
  text-decoration-color: var(--underline-color);
}

.mismatch {
  color: var(--mismatch-color);
  text-decoration: underline;
  text-decoration-color: var(--mismatch-color);
}

textarea {
  background: var(--dark-color);
  width: 0;
  height: 0;
  border: none;
  outline: none;
}

.footer {
  height: 80px;
  width: 100%;
  bottom: -1px;
  left: 0;
  position: fixed;
  background-color: var(--highlight-color);
  display: flex;
  z-index: 100;
}

.footer p {
  flex: 1;
  text-align: center;
  font-size: 24px;
  line-height: 35px;
  color: var(--dark-color);
  font-weight: 600;
}

.timer {
  display: flex;
  min-width: 90px;
  max-width: 90px;
  justify-content: center;
  align-items: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  margin-top: 39vh;
}

.login-input {
  margin: 6px;
  background-color: var(--highlight-color);
  height: 35px;
  width: 300px;
  padding-left: 10px;
  border-radius: 6px;
  font-size: 15px;
  border: 2px rgb(107, 103, 103) solid;
}

.login-btn {
  margin: 10px;
  width: 315px;
  border-radius: 6px;
  height: 35px;
  background-color: var(--pending-color);
  color: white;
  border: 1px black solid;
  cursor: pointer;
  font-weight: bold;
  font-size: 17px;
}

.register-text {
  cursor: pointer;
  font-size: 14px;
}

.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  margin-top: 39vh;
}

.register-input {
  background-color: var(--highlight-color);
  margin: 6px;
  height: 35px;
  width: 300px;
  padding-left: 10px;
  border-radius: 6px;
  font-size: 15px;
  border: 2px rgb(107, 103, 103) solid;
}

.register-btn {
  margin: 10px;
  width: 315px;
  border-radius: 6px;
  height: 35px;
  background-color: var(--pending-color);
  color: white;
  border: 1px black solid;
  cursor: pointer;
  font-weight: bold;
  font-size: 17px;
}

.login-text {
  cursor: pointer;
  font-size: 14px;
}

.progressbar{
  margin: 10px;
  padding: 10px;
  width: 50%;
  background: var(--highlight-color);
  color: var(--dark-color);
  border-radius: 10px;
  display: flex;
}

.progressbar p, .progressbar .progress{
  flex: 1;
}

.progressbar p{
  text-align: center;
}

.progressbar .progress{
  margin-top: 12.5px;
  width: 250px;
  height: 30px;
  border-radius: 30px;
  background-color: #FFF;
}

.progressbar .progress .fill{
  height: 100%;
  border-radius: 30px;
  background-color: #1E90FF;
}